factory: form
name: ldap_users_settings
props:
    action: context.form_action
    class: ajax
widgets:
- users_dn:
    factory: field:label:error:text
    value: expr:context.model.attrs.users_dn
    props:
        label: i18n:users_container_dn
        help: i18n:users_container_dn_help
        required: i18n:users_container_dn_required
- users_scope:
    factory: field:label:select
    value: expr:context.model.attrs.users_scope
    props:
        label: i18n:users_search_scope
        help: i18n:users_search_scope_help
        vocabulary: expr:context.scope_vocab
- users_query:
    factory: field:label:text
    value: expr:context.model.attrs.users_query
    props:
        label: i18n:users_search_query_filter
        help: i18n:users_search_query_filter_help
- users_object_classes:
    factory: field:label:text
    value: expr:u', '.join(context.model.attrs.get('users_object_classes', []))
    props:
        label: i18n:user_object_classes
        help: i18n:user_object_classes_help
- users_aliases_attrmap:
    factory: field:label:error:dict
    value: expr:context.users_aliases_attrmap
    props:
        label: i18n:user_attribute_aliases
        help: i18n:user_attribute_aliases_help
        required: i18n:user_attribute_aliases_required
        static: True
        key_label: i18n:reserved_key
        value_label: i18n:ldap_attr_name
- users_form_attrmap:
    factory: field:label:dict
    value: expr:context.model.attrs.users_form_attrmap
    props:
        label: i18n:user_form_attributes
        help: i18n:user_form_attributes_help
        key_label: i18n:ldap_attr_name
        value_label: i18n:form_label
- users_listing_columns:
    factory: field:label:dict
    value: expr:context.model.attrs.users_listing_columns
    props:
        label: i18n:column_configuration_for_user_listings
        help: i18n:column_configuration_for_user_listings_help
        required: i18n:column_configuration_for_user_listings_required
        key_label: i18n:attr_name
        value_label: i18n:display_name
- users_listing_default_column:
    factory: field:label:text
    value: expr:context.model.attrs.users_listing_default_column
    props:
        label: i18n:users_listing_default_column
        help: i18n:users_listing_default_column_help
- users_exposed_attributes:
    factory: field:label:array
    value: expr:context.model.attrs.users_exposed_attributes
    props:
        label.label: i18n:exposed_attributes_label
        array.label: i18n:exposed_attributes_array
        help: i18n:exposed_attributes_help
        sort: False
    widgets:
    - exposed:
        factory: error:text
        props:
            label: i18n:exposed_attributes_attribute
            required: i18n:exposed_attributes_attribute_required
- save:
    factory: submit
    props:
        action: save
        expression: True
        handler: context.save
        next: context.next
        label: i18n:save